.content {
    grid-area: c;
    background-color: blueviolet;
  }

  .item{
    background-color: blueviolet;
  }

  .item img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
  }

  .text {
    color:white;
    margin-left: 10px;
    background-color: black;
  }