.dialogs{
    display:grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px; 
}

.dialogsItems img{
    width: 50px;
}

.dialog{
    margin-top: 10px;
}


.messages {
    padding:3px;
    color:white;
}

.message{
    right:10px;
    padding:3px;
    color:darksalmon;
}

.messageTwo{
    right: 30px;
    padding:3px;
    color:darkseagreen;
}


.dialogsItems a{
    color: cadetblue;
    text-decoration: none;
}

.dialogsItems a.active{
    color: blue;
    text-decoration: none;
}


